// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2023 Microchip Technology Inc */

/dts-v1/;
/plugin/;

&{/} {
	leds {
		compatible = "gpio-leds";

		led_P8_03 {
			status = "okay";
			gpios = <&gpio2 0 0>;
			default-state = "on";
		};

		led_P8_04 {
			status = "okay";
			gpios = <&gpio2 1 0>;
			default-state = "on";
		};

		led_P8_05 {
			status = "okay";
			gpios = <&gpio2 2 0>;
			default-state = "on";
		};

		led_P8_06 {
			status = "okay";
			gpios = <&gpio2 3 0>;
			linux,default-trigger = "heartbeat";
			default-state = "on";
		};

		led_P8_07 {
			status = "okay";
			gpios = <&gpio2 4 0>;
			default-state = "off";
		};

		led_P8_09 {
			status = "okay";
			gpios = <&gpio2 6 0>;
			default-state = "off";
		};

		led_P8_10 {
			status = "okay";
			gpios = <&gpio2 7 0>;
			default-state = "off";
		};

		led_P8_11 {
			status = "okay";
			gpios = <&gpio2 8 0>;
			default-state = "off";
		};

		led_P8_12 {
			status = "okay";
			gpios = <&gpio2 9 0>;
			default-state = "off";
		};

		led_P8_13 {
			status = "okay";
			gpios = <&gpio2 10 0>;
			default-state = "off";
		};

		led_P8_14 {
			status = "okay";
			gpios = <&gpio2 11 0>;
			default-state = "off";
		};
	};
};
